#title1 {
  color: #0275d8;
  font-weight: 700;
  font-size: 24px;
}

#title2 {
  color: #0274d884;
  font-size: 14px;
}


.dashSelects {
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 10px;
  font-weight: 600;
}

.dashSelects:hover {
  background: rgba(2, 116, 216, 0.285);
  border-radius: 8px;
  color: #0275d8;
}